div.article2 {
    width: 1078px;
    height: 1228px;
    border: solid 1px darkslategrey;
}
div.part {
    width: 1070px;
    height: 200px;
    overflow: hidden;
    margin: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    background-color: darkslategray;
}
div.part_left {
    width: 350px;
    height: 200px;
    float: left;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
}
div.part_right {
    width: 700px;
    height: 200px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.part_right li {
    width: 175px;
    height: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
    list-style-type: none;
}
div.part_right a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
div.part_right a:hover {
    color: bisque;
    line-height: 60px;
    text-decoration: underline;
}
