div.article3 {
    width: 1080px;
    height: 250px;
    background-color: darkslategrey;
}
div.article3_left {
    width: 400px;
    height: 250px;
    float: left;
}
div.article3_right {
    width: 680px;
    height: 250px;
    float: left;
}